<!DOCTYPE html>
<html>
  <head>
    <title>Lockup Diary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/vendor/gh-history.css">
    <link rel="stylesheet" href="/vendor/octicons/octicons.css">
    <link rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/vendor/moment.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-datetimepicker.min.js"></script>
    <script src="/hello.js"></script>
    <% include ga.ejs %>
  </head>
  <body style="padding-top: 60px;">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Lockup Diary</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <% if (currentUser) { %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/diary"><span class="octicon octicon-calendar"></span> Diary</a></li>
            <li><a href="/statistics"><span class="octicon octicon-pulse"></span> Statistics</a></li>
            <li><a href="/settings"><span class="octicon octicon-gear"></span> Settings</a></li>
            <li><a href="/logout"><span class="octicon octicon-sign-out"></span> Sign out</a></li>
          </ul>
          <% } else { %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="octicon octicon-sign-in"></span> Sign in</a></li>
          </ul>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="user-header">
        <h1 style="margin-top: 0px;"><%= username %>'s Diary</h1>
      </div>
      <div style="clear:both; margin-top:20px;" class="row col-md-12 text-center">
        <h2 style="display:inline;">
          <a href="/user/<%=username%>/diary/<%= year-1 %>/"><span class="mega-octicon octicon-chevron-left"></span></a>
          <%= year %>
          <a href="/user/<%=username%>/diary/<%= year+1 %>/"><span class="mega-octicon octicon-chevron-right"></span></a>
        </h2>
      <hr>
      </div>
      <% var monthNames = {0: "January", 1: "February", 2: "March", 3: "April", 4: "May", 5: "June", 6: "July",
        7: "August", 8: "September", 9: "October", 10: "November", 11: "December"}%>
      <% for (var i=11; i>=0; i--) { %>
      <div>
      <% if (events[i]) { %>
        <h3><%= monthNames[i] %></h3>

        <div id="events" class="col-md-12">
          <% var iconMap = {orgasm: 'rocket', lockup: 'lock'}; %>
          <% var textMap = {inPersonKeyholder: 'locked by an in-person keyholder', onlineKeyholder: 'locked by an online keyholder', selfLocked: 'self-locked'}; %>
          <% for (var j in events[i]) { %>
            <% var event = events[i][j] %>
            <% var ldEvent = JSON.parse(JSON.stringify(event.get("event"))); %>
            <div class="discussion-item discussion-item-assigned">
              <div class="discussion-item-header">
                <span class="octicon octicon-<%= iconMap[event.get('type')] %> discussion-item-icon"></span>
                <div>
                  <% if (event.get('type') == 'lockup') { %>
                    <%= username + ' was ' %><span class="event"><%=textMap[ldEvent.keyholder_status]%></span><%=' for ' + ldEvent.duration %><br>
                    <ul class="lockup-list">
                      <% if (ldEvent.end_datetime) { %>
                        <li>Lockup end: <time class="timestamp"><%= ldEvent.end_datetime %></time><br>
                          <% if (ldEvent.end_notes) { %>
                            &#8627; <%= ldEvent.end_notes %>
                          <% } %>
                        </li>
                      <% } %>
                      <li>Lockup start: <time class="timestamp"><%= ldEvent.start_datetime %></time><br/>
                        &#8627; <%= ldEvent.start_notes %>
                      </li>
                    </ul>
                  <% } %>
                  <% if (event.get('type') == 'orgasm') { %>
                    <%= username + ' recorded an ' %><span class="event">orgasm</span>.
                    <time class="timestamp"><%= ldEvent.datetime %></time><br/>
                    <%= ldEvent.notes %>
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
    <% } %>
    </div>
      
    </div>
  </body>
</html>
