<!DOCTYPE html>
<html>
  <head>
    <title>Lockup Diary</title>
    <link rel="stylesheet" href="/vendor/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/vendor/gh-history.css">
    <link rel="stylesheet" href="/vendor/octicons/octicons.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/vendor/moment.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-datetimepicker.min.js"></script>
  </head>
  <body style="padding-top: 60px;">
    <!-- Lockup Modal -->
    <div class="modal fade" id="startLockupModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/events" id="lockupForm" method="POST" role="form">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Start lockup</h4>
            </div>
            <div class="modal-body">
              <input type="hidden" name="type" value="startLockup">
              <div class="row">
                <div class="form-group col-md-12">
                  <label style="margin-bottom: 0px;">Keyholder</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="keyholder" value="selfLocked" checked>
                      Self-locked
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="keyholder" value="inPersonKeyholder">
                      Locked by an in-person keyholder
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="keyholder" value="onlineKeyholder">
                      Locked by an online keyholder
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="lockupNotes">Notes</label>
                  <textarea id="lockupNotes" name="lockupNotes" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Start lockup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Orgasm Modal -->
    <div class="modal fade" id="orgasmModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/events" id="orgasmForm" method="POST" role="form">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Record orgasm</h4>
            </div>
            <div class="modal-body">
              <input type="hidden" name="type" value="orgasm">
              <input type="hidden" id="realDate" name="orgasmDatetime">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="orgasmDate">Date</label>
                  <div class='input-group date' id='orgasmDate'>
                    <input type='text' class='form-control'>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <script type="text/javascript">
                    $(function () {
                        $("#orgasmDate").datetimepicker({
                          pickTime: false
                        });
                        $("#orgasmForm").submit(function(e) {
                          var date = $("#orgasmDate").data("DateTimePicker").getDate().toISOString().split("T")[0]
                          date += "T"
                          date += $("#orgasmTime").data("DateTimePicker").getDate().toISOString().split("T")[1]
                          $("#realDate").val(date);
                        });
                        setTimeout(function() {
                          $("#orgasmDate").data("DateTimePicker").setDate(moment());
                        }, 0);
                    });
                  </script>
                </div>
                <div class="form-group col-md-6">
                  <label for="orgasmTime">Time</label>
                  <div class='input-group date' id='orgasmTime'>
                    <input type='text' class='form-control'>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
                  <script type="text/javascript">
                    $(function () {
                        $('#orgasmTime').datetimepicker({
                          pickDate: false
                        });
                    });
                    setTimeout(function() {
                      $("#orgasmTime").data("DateTimePicker").setDate(moment());
                    }, 0);
                  </script>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="orgasmNotes">Notes</label>
                  <textarea id="orgasmNotes" name="orgasmNotes" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Record orgasm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Lockup Diary</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings" title="Settings"><span class="octicon octicon-gear"></span></a></li>
            <li><a href="/logout"it title="Log out"><span class="octicon octicon-sign-out"></span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <img style="float: left; margin-right: 15px; margin-bottom: 15px;" alt="<%= user %>" class="avatar" height="128" width="128" src="https://avatars0.githubusercontent.com/u/6627868?v=2&amp;s=460">
      <h1 style="margin-top: 0px;"><%= user %></h1>
      <div style="margin-bottom: 5px;">
        <label>Current status</label>: <%= status %>
      </div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#startLockupModal">
        Start lockup
      </button>
      <button class="btn btn-default" data-toggle="modal" data-target="#orgasmModal">
        Record orgasm
      </button>
      <div style="clear: both;">
        <h2>Recent events</h2>
        <% var iconMap = {orgasm: 'rocket', lockup: 'lock'}; %>
        <% events.each(function(event) { %>
           <% var ldEvent = JSON.parse(JSON.stringify(event.get("event"))); %>
           <div class="discussion-item discussion-item-assigned">
            <div class="discussion-item-header" id="event-145938144">
              <span class="octicon octicon-<%= iconMap[event.get('type')] %> discussion-item-icon"></span>
              <%= ldEvent.notes %>
              <time class="timestamp">
                <%= ldEvent.datetime %>
              </time>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

  </body>
</html>
